{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block title %}Find in Wikipedia{% endblock %}

{% block body %}

    <div class="container">

        <h2>Wiki Searcher</h2>

        {{ form_start(form) }}

        <span class="help-block">Type the phrase you want to search</span>

        {{ form_errors(form) }}

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-4">
                {{ form_errors(form.article_title) }}
                {{ form_widget(form.article_title) }}
            </div>
            {% image '@AppBundle/Resources/public/images/loader.gif' %}
            <img id="loading" src="{{ asset_url }}" alt="Example"/>
            {% endimage %}
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>
        var find_url = "{{ path('find_autocomplete', {'phrase': 'phrase_to_replace'}) }}";
    </script>

    {% javascripts '@AppBundle/Resources/public/js/wiki_search.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
